<div id="items">
  {{#items}}
    <div class="item">
      <a href="/{{slug}}">
        <img src="/item_pics/{{slug}}_index.jpg" />
        <h1>{{title}}</h1>
        <div class="author">{{author}}</div>
        <div class="technique">Serigrafía sobre papel</div>
        <div class="price">{{price}} €</div>
      </a>
    </div>
  {{/items}}
</div>